@use 'styles';
.authenticationPageContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .authenticationContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .authenticationTitle {
    margin: 15vh 0;
    position: relative;
    width: 100%;
    animation-name: slide;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    overflow: hidden;
    h1 {
      text-align: center;
      color: styles.$secondary-color;
      font-size: 40px;
    }
    span {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 0;
      left: 3px;
      font-size: 40px;
      color: azure;
    }
  }
}
@keyframes slide {
  0%{
    left: -100%;
  }
  100%{
    left: 0;
  }
}